# Ignore virtual environment
venv/
__pycache__/

.venv/

# Ignore environment file
.env

*/products.index
*/image_paths.json

products.index
image_paths.json

db_data/

*.db

*.faiss

*.faiss.json

.index_checkpoints/

*.zip

*.log

datasets/

*.db.bad

.hf-cache/